name: Build with PyInstaller

on: [push, release]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install pyinstaller customtkinter pyserial tkinterdnd2
      - name: Build
        run: |
          pyinstaller --onefile --windowed IAP_Programmerv1.7.py
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: dist/*
